/*
GENERAL
*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #3d4852;
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
    margin: 20px;
    line-height: 1;
}

h2 {
    font-size: 30px;
    line-height: 1;
	text-decoration: underline;
	margin-bottom: 0;
	margin-top: 30px;
}

h3 {
    font-size: 20px;
    margin-top: 0;
	margin-bottom: 10px;
	overflow-x: hidden;
}

a.button {
    align-items: center;
    /*background-color: #8400b0;*/
    background-color: #7d430c;
    border: 1px solid #7d7d7d;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
	position: absolute;
	left: 3%;
	bottom: 3%;
}

a.button:hover,
a.button:focus {
    background-color: #7d7d7d;
    box-shadow: 0 0 2px 2px #bac6d3;
	/*outline: 1px solid #3d4852;*/
}

li {
    display: inline-block;
}

img {
	/*filter: sepia(35%);*/
    max-width: calc(100% + 32px);
	max-height: calc(100% + 32px);
    position: relative;
    left: -16px;
    right: -16px;
}

p {
    margin: 0 0 8px;
}

main {
    padding: 16px 0px 16px 16px;
}

header {
    text-align: center;
}

.card {
	position: relative;
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 16px;
}

.description {
	max-height: 100px;
	overflow: auto;
}

/*
CAROUSEL
*/
.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 16px;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 1 0 250px;
    margin-left: 16px;
    scroll-snap-align: start;
}

::-webkit-scrollbar {
    height: 10px;
    /*background-color: #F5F5F5;*/
    background-color: #e8e5a4;
}

::-webkit-scrollbar-thumb {
    /*background-color: #8400b0;*/
    background-color: #9e7a47;
    border-radius: 3px;
}


/*
BREAKPOINTS
*/

@media screen and (min-width: 100px) {
	.card-title {
		font-size: 12px;
		margin-top: 0;
		margin-bottom: 10px;
		max-height: 40px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
    .carousel-item {
        flex-basis: 100px;
    }
	
	.card {
		height: 250px;
		max-width: 100px;
	}
	
	.buttonShow {
		display: none;
	}

	.buttonShowMin {
		display: block;
	}
	
	.buttonReturn {
		position: fixed;
		left: 10px;
		bottom: 10px;
	}
}

@media screen and (min-width: 400px) {
	.card-title {
		font-size: 15px;
		margin-top: 0;
		margin-bottom: 5px;
		height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
    .carousel-item {
        flex-basis: 150px;
    }
	
	.card {
		height: 250px;
		max-width: 150px;
	}
	
	.description {
		max-height: 38px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

@media screen and (min-width: 576px) {
	.card-title {
		font-size: 20px;
		margin-top: 0;
		margin-bottom: 10px;
		height: 23px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
    .carousel-item {
        flex-basis: 200px;
    }
	
	.card {
		height: 300px;
		max-width: 180px;
	}
	
	.description {
		max-height: 40px;
		max-width: 175px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

@media screen and (min-width: 800px) {
	.buttonShow {
		display: block;
	}

.buttonShowMin {
		display: none;
	}
	
.buttonReturn {
		position: fixed;
		left: 10px;
		bottom: 10px;
	}
}

@media screen and (min-width: 992px) {
	.card-title {
		font-size: 20px;
		margin-top: 0;
		margin-bottom: 10px;
		height: 23px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

    .carousel-item {
        flex-basis: 250px;
    }
	
	.card {
		height: 350px;
		max-width: 220px;
	}
	
	.description {
		max-height: 25px;
		max-width: 215px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 64px;
    }
	
	h2 {
        font-size: 40px;
    }

    .carousel-item {
        flex-basis: 300px;
    }
	
	.card {
		height: 400px;
		max-width: 280px;
	}
	
	.description {
		max-height: 25px;
		max-width: 275px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

@media screen and (min-width: 1600px) {
    body,
    button,
    input,
    select,
    optgroup,
    textarea {
        font-size: 20px;
    }
}